*,
*::after,
*::before {
    box-sizing: border-box;
}

.paletteCouleurAsupprimer {
    color: #F9F7F0;
    color: #18B7BE;
    color: #178CA4;
    color: #072A40;
}


/* a11y */
.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;


}

body {
    margin: 0;
    padding: 0px;
    scroll-behavior: smooth;
    height: 100vh;
    background-color: #F9F7F0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 551;
    font-style: normal;
    color: #072A40;

}


header {
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0;
    background-color: #178CA4;
}

nav {
    max-width: 1100px;
    margin: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.logo {
    color: rgb(255, 255, 255);
    /* background-color: blue; */
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    margin-right: 30px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

.navbar li {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    /* background-color: blueviolet; */
    /* margin: ; */
}
@media (width<=768px) {
    nav {
        margin: auto;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        list-style: none;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: center;
    }
    
    
    
    .logo {
        color: rgb(255, 255, 255);
        /* background-color: blue; */
        font-weight: bold;
        font-size: 2rem;
        text-decoration: none;
    }
    
    .navbar a {
        text-decoration: none;
        color: white;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        gap: 2rem;
    }
}

.navbar li a:hover {
    border-bottom: 3px solid;
    /* color: rgb(0, 119, 255); */
    color: #e7864a;

}

/* banière                          */

/* titre des pages  */
.titrePages {
    font-size: 3rem;
    margin-top: -52px;
    padding-top: 10px;
    color: #178CA4;
}

section {
    margin-top: 150px;
    padding-bottom: 150px;
    color: #072A40;
}

.imgBanniere {
    background-image: url("https://img.freepik.com/vecteurs-libre/dessin-anime-atlantis-englouti-sous-eau-ruines-antiques-illustration-du-personnage-du-conducteur_1284-61870.jpg?t=st=1716662396~exp=1716665996~hmac=c41c1e528df30e1dcec50eef1c0fdec97240644350088de5022f5e9dd758866f&w=1380");
    background-size: cover;
    height: 900px;
} 

.titreBanniere {
    transform: translate(-50%, -50%);
    /* background-color: rgba(160, 41, 41, 0.7); */
    border-radius: 5px;
    font-size: 3.5rem;
    color: transparent;
    /* Rendre le texte transparent */
    -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: rgb(224, 218, 218);
    letter-spacing: 4px;
    display: block;

}

.imgPresentation{
    width: 50vh;
}
/* Page d'accueil */

.homePage {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-top: 4%;
    color: white;
    clear: both;

}

h1 span {
    padding: 0 15px;
    flex: content;
}

.container {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    /* Les lignes s'ajustent automatiquement à la hauteur du contenu */
    grid-template-columns: 1fr;
    /* Une colonne unique */
    /* gap: 20px; */
}

.apercu {
    top: 100%;
    width: 100%;
    left: 0;
    position: absolute;
}

.sousTitre1 {
    font-size: 2.5rem;
}

.sousTitre2 {
    font-size: 2rem;
    color: #072A40;
}

.contourBleu {
    color: transparent;
    /* Rendre le texte transparent */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F9F7F0;
    background-color: #178CA4;
    width: fit-content;
}

.policeBleu {
    color: #072A40;

}

.imgPartie1 {
    height: 60vh;

}

.imgPartie2 {
    height: 50vh;
    position: relative;
}

.haut {
    top: 450px;
}

.gauche {
    right: 500px;
}

.onglet {
    display: inline-block;
    width: 200px;
    /* Ajustez la largeur selon vos besoins */
    margin-right: 20px;
    /* Espace entre les onglets */
    text-align: center;
    /* Pour centrer le contenu */
}

.onglet img {
    width: 100%;
    height: auto;
    /* Pour conserver les proportions de l'image */
    border: 1px solid #ccc;
    /* Optionnel : bordure autour de l'image */
    border-radius: 5px;
    color: red;
    border-radius: red;
    /* Optionnel : coins arrondis */
}

.onglet p {
    margin-top: 5px;
    /* Espace entre l'image et le texte */
}

.espaceVieMarine .espaceApropos .espaceExcursions .espaceNotreHistoire {
    /* padding-bottom: 30%; */
    color: #072A40;
    font-weight: lighter;
    font-size: 1.2rem;

}

/* .apercu{

} */

.apercuCatalogue {
    display: flex;
    display: grid;
    justify-content: center;
}

.apercuArticleCatalogue {
    
    margin: 10px;
    background-color: #178CA4;
    padding-bottom: 1px;
    border-radius: 20px;
}

@media (width<=1030px){
    .apercuCatalogue{
        .un{
            grid-column: 1;
            grid-row: 1;
        }
        .deux{
            grid-column: 2;
            grid-row: 1;
        }
        .trois{
            grid-column: 1;
            grid-row: 2;
        }
        
        .quatre{
            grid-column: 2;
            grid-row: 2;
        }
        .cinq{
            grid-column: 1;
            grid-row: 3;
        }
        .six{
            grid-column: 2;
            grid-row: 3;
        }
    } 
}

.imgApercu {
    height: 30vh;
    width: 40vh;
    border-radius: 20px;
}

.sousTitreApercu {
    margin: 15px;
}

.container-lien{
    display: flex;
    justify-content: center;
}
.lienReserver{
   
    margin-top: 50px;
    font-size: 1.5rem;
    background-color:#0064A2;
    color: #F9F7F0;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
}

.lienReserver :hover{
    background-color:#e7864a;
    color: #F9F7F0;
    
 }
/* page notre histoire */
.notreHistoire {
    font-weight: lighter;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    margin-left: 150px;
    margin-right: 150px;
}


.paragraphe1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.paragrapheL {
    float: left;
    font-weight: lighter;
    margin-right: 20px;
    margin-bottom: 10px;


}
.imgP1 {
    height: 55vh;
   
}
@media (width<=900px) {
    .paragraphe1 {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgP1 {
        height: 52vh;
    }
}

.paragrapheGras {
    font-weight: bold;
    color: #18b7be;
}

.paragraphe2 {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: lighter;

}

.paragrapheR {
    font-weight: lighter;
    margin-left: 20px;
}


.imgP2 {
    width: 70%;
    max-width: 500px;
}
@media (width<=1270px) {
    .paragraphe2 {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        font-weight: lighter;
    }
    .imgP2 {
        max-width: 300px;
    }

}


.paragraphe3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: lighter;
    margin-top: 30px;

}

.imgP3 {
    height: 55vh;
}
@media (width<=1100px) {
    .paragraphe3 {
        display: flex;
        flex-direction: column;
        font-weight: lighter;
        margin-top: 30px;
    
    }
    
    .imgP3 {
        height: 40vh;
    }

}

.paragraphe4 {
    align-items: center;
    justify-content: center;
    font-weight: lighter;

}

.imgP4 {
    height: 30vh;
}


.paragraphe5 {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.imgP5 {
    height: 30vh;
}
@media (width<=1100px) {
    .paragraphe5 {
        display: flex;
        flex-direction: column;
    
    }
    
    .imgP5 {
        height: 30vh;
    }

}


/* slider */
.imgSlider{
    width: 500px;
    height: 300px;
    object-fit: cover;
}
.js-slider {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.js-photos {
    position: relative;
    display: flex;
    width: max-content;
    transition: left 0.3s ease;


}

.js-photo {
    flex-shrink: 0;
    position: relative;
    width: 500px;
    height: 300px;
}

.dots {
    height: 25px;
    width: 25px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top: 200px;
    right: 350px;
    cursor: pointer;
    border: solid 1px black;
}

.dots1 {
    background-color: white;
}

.js-navigation {
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slideRight,
.slideLeft {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.slideRight {
    left: initial;
    right: -15px;
}





/* excursions */
.excursions {
    font-weight: lighter;
    font-size: 1.2rem;
    margin-left: 150px;
    margin-right: 150px;
    display: block;
    justify-content: center;

}

.catalogue {
    display: flex;
    justify-content: center;
    display: grid;

}

.articleCatalogue {
    /* height: 70vh;change la longeur de la boite ici en bleu */
    width: 40vh;
    margin: 10px;
    background-color: #0064A2;
    border-radius: 15px;
    padding-bottom: 0px;
    
}
@media (width<=887px){
    .catalogue {
        flex-direction: column;
        justify-content: center;
    
    }
}

.un{
    grid-column: 1;
    grid-row: 1;
}

.deux{
    grid-column: 2;
    grid-row: 1;
}

.trois{
    grid-column: 3;
    grid-row: 1;
}

@media (width<=1030px){
.catalogue{
    .un{
        grid-column: 1;
        grid-row: 1;
    }
    .deux{
        grid-column: 2;
        grid-row: 1;
    }
    .trois{
        grid-column: 1;
        grid-row: 2;
    }
    
    .quatre{
        grid-column: 2;
        grid-row: 2;
    }
    .cinq{
        grid-column: 1;
        grid-row: 3;
    }
    .six{
        grid-column: 2;
        grid-row: 3;
    }
} 
}

.imgCatalogue {
    height: 30vh;
    width: 40vh;
    border-radius: 15px;

}

.sousTitreExcursions {
    padding: 8px;
    /* color: #F9F7F0; */
    color: #18b7be;
    /* text-decoration: none; */
}

.texteExcursions {
    padding: 10px;
    justify-content: center;
    color: #178CA4;

}
.detail-image{
    width: 40px;
}

/* formulaire */
.custom-form-container {
    width: 520px;
    padding: 20px;
    background-color: #e0f7fa; /* Couleur de fond bleu */
    border-radius: 10px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    color: #333; /* Couleur du texte */
}

.custom-progress-container {
    width: 100%;
    background-color: #f3f3f3;
    height: 30px;
    border-radius: 25px;
    margin-bottom: 20px;
    overflow: hidden;
}

.custom-progress-bar {
    height: 30px;
    background-color: #178CA4;;
    width: 0;
    transition: width 0.3s ease;
}

.custom-slider {
    position: relative;
    width: 500px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.custom-photos {
    position: relative;
    display: flex;
    width: 100%;
    transition: left 0.3s ease;
}

.custom-photo {
    flex-shrink: 0;
    position: relative;
    width: 500px;
    padding-bottom: 50px;
    display: none;
    color: #333; /* Couleur du texte */
}

.custom-photo.active {
    display: block;
}

.custom-title, .custom-subtitle {
    color: #333;
    text-align: center;
}

input, select {
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #18B7BE;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;
}

button:hover {
    background-color: #072A40;
}
.trie-filtre{
    padding: 10px 20px;
    background-color: #18B7BE;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;
    text-decoration: none;
    font-size: 0.8rem;
    

}
.trie-filtre :hover{
    background-color: #072A40;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


/* page vie marine */

.vieMarine {
    font-weight: lighter;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    margin-left: 150px;
    margin-right: 150px;
}


.containerBandeau {
    display: flex;
    justify-content: center;
}


.bandeau {
    margin-top: 30px;
    height: 10vh;
    width: 30vh;
    margin-bottom: 30px;
}

@media (width<=1250px){
    .bandeau {
        height: 0px;
    }
}
.paragraphe {
    color: #072A40;
    align-items: center;
    font-weight: lighter;
    margin-left: 80px;
    margin-right: 80px;
}

.paragrapheCentrer {
    color: #072A40;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    font-weight: bold;

}
@media (width<=779px){
    .paragrapheCentrer {
        color: #072A40;
        font-weight: bold;
    
    }
}



.couleurSousTitreVieMarine {
    color: #18b7be;
}

.conclusionVieMarine {
    color: #F9F7F0;
    align-items: center;
    
    font-weight: bolder;
    background-color: #18b7be;
    padding: 50px;
    border-radius: 80px 10px;
    min-width: 200px;
}
@media (width<=779px){
    .conclusionVieMarine {
        color: #F9F7F0;
        font-weight: bolder;
        background-color: #18b7be;
        padding: 50px;
        border-radius: 80px 10px;
    }
}

/* A propos*/
.aPropos {
    color: #18b7be;
    align-items: center;
    font-weight: lighter;
    font-size: 1.2rem;
    margin-left: 150px;
    margin-right: 150px;
}

.surlignement {
    background-color: rgba(255, 189, 104, 0.639)
}



summary {
    position: relative;
    background-color: #18b7be;
    border-radius: 10px;
    color: white;
}

summary::marker {
    content: none;
}

summary::before,
summary::after {
    content: '';
}

summary::before,
summary::after {
    width: .75em;
    height: 0;
    border-bottom: 2px solid;
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    transform: translateY(-50%);
}

summary::after {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}

[open] summary::after {
    transform: rotate(0deg);
    color: white;

}

.FAQ {
    padding-bottom: 10%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


/* styles ported over from the second example */

details {
    border: 1px solid;
    /* background-color: white; */
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.8rem;
    padding-left: 0.8rem;
    border-radius: 1rem;
    margin-bottom: 4%;

}

details+details {
    border-top: none;
}

details[open]>summary {
    padding-bottom: 1em;

}

details p {
    padding: 1rem;
}

summary {
    padding: 1rem 2em 1rem 0;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;

}



/* footer avec vague */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;

}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
    color: #0064A2;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
    color: #0064A2;

}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
    color: #0064A2;

}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
    color: #032031;

}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

